<footer>
    <p id="footer-links">
        <a href="https://github.com/KyaDLFiles/kyadlfiles.github.io" target="_blank" rel="noopener noreferrer">Source of this website</a>
        <a href="https://open.lbry.com/@KyaDLFiles:4" target="_blank" rel="noopener noreferrer">Odysee channel</a>
        <a href="https://www.youtube.com/@KyaDLFiles" target="_blank" rel="noopener noreferrer">YouTube channel</a>
    </p>
    <p>
        <a href="https://discord.gg/HEpGpsQNrT" target="_blank" rel="noopener noreferrer">Contact me on Discord</a> to access the Kya: Dark Lineage Discord servers (there's a general server, one for speedrunning, and one dedicated to decompiling and research about the game) 
    </p>
    <p>
        This website is made possible by the awesome community we built and the efforts of individuals who love to thinker with and study how Kya: DL works
    </p>
    <p>
        The content on this website is distributed under the <strong><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) license</a></strong>
    </p>
</footer>
