<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=homelistopen_in_newlist" />
        <title>{{ title }}</title>
    </head>
    <body>
        {% include '_partials/_header.html' %}
        <div id="main-container">
            <aside id="toc-container" class="hide-below-700px">
                {{ toc }}
            </aside>
            <div id="text-container">
                <nav id="header-nav">
                    {{ header_nav }}
                </nav>
                <noscript> 
                    <div class="show-below-700px nodisplay" id="noscript-toc">
                        {{ toc }}
                        <hr>
                    </div>
                </noscript>
                {{ text }}
            </div>
        </div>
        <hr>
        {% include '_partials/_footer.html' %}
        <div id="toc-toggle" class="hidden visible-below-700px unselectable noscript-nodisplay">
            <input type="checkbox" id="show-toc" class="nodisplay">
            <label for="show-toc">
                <span class="material-symbols-outlined">
                    list
                </span>
            </label>
        </div>
        <script src="/show_toc.js"></script>
    </body>
</html>
