<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/_static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ title }}</title>
</head>
<body>
    {% include '_partials/_header.html' %}
    <div id="main-container">
        <aside id="toc-container">
            {{ toc }}
        </aside>
        <div id="text-container">
            {{ text }}
            <hr>
            {% include '_partials/_footer.html' %}
        </div>
    </div>
</body>
</html>
