{% extends '_partials/_base.html' %}

{% block content %}
            <aside id="toc-container" class="hide-below-700px">
                {{ toc }}
            </aside>
            <div id="text-container">
                <nav id="header-nav">
                    {{ header_nav }}
                </nav>
                <noscript> 
                    <div class="show-below-700px nodisplay" id="noscript-toc">
                        {{ toc }}
                        <hr>
                    </div>
                </noscript>
                {{ text }}
            </div>
            <div id="toc-toggle" class="hidden visible-below-700px unselectable noscript-nodisplay">
                <input type="checkbox" id="show-toc" class="nodisplay">
                <label for="show-toc">
                    <span class="material-symbols-outlined">
                        list
                    </span>
                </label>
            </div>
            <script src="/show_toc.js"></script>
{% endblock %}
