body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 3px;
}

th {
	border-bottom-width: 2px;
}

table img {
	vertical-align: middle;
}

.lblue_bg {
	background-color: #8dfff7;
}

.hidden {
	display: none;
}

.smallimg {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}
.red {
	color: red;
}

.footer_span {
	margin: 10%;
}

.sts {
	display: flex;
    align-items: center;
}

div[disabled] {
	pointer-events: none;
	opacity: 0.5;
}

#calc_warn {
	color: red;
}

#footer_obj {
	width: 100%;
}