:root {
    --toc-width: 17em;
    --margin-height: 2em;
    --margin-v-padding: 0.3em;
    --margin-h-padding: 0.6em;
    --header-height: 2em;
}

body {
    font-size: medium ;
    margin: 0;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    box-sizing: content-box;
    height: var(--header-height);
    padding: var(--margin-v-padding) var(--margin-h-padding);
    background-color: turquoise;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    margin-left: 2em;
    margin-right: 2em;
}

h1 {
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: underline dotted;
}

code {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 0.05em 0.3em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1, h2, h3 {
    margin-bottom: 0.4rem;
}

#main-container {
    display: flex;
    flex-direction: row;
}

#text-container {
    margin-right: 2em;
    margin-left: 2em;
}

#header-logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    text-decoration: none;
}

#header-logo img {
    height: 2em;
    border-radius: 50%;
}

#footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.table-highlight-1 {
    background-color: cyan;
}

.text-unsure {
    background-color: khaki;
}

.text-warning {
    color: rgb(164, 0, 0);
}

.show-below-700px {
    display: none;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.small-img {
    max-width: 15em;
    border: 1px solid black;
}

/* Sidebar */
#toc-container {
    position: sticky;
    top: 0;
    width: 200vw;
    max-width: var(--toc-width);
    min-width: 10em;
    overflow: hidden auto;
    height: 100vh;
    background-color: whitesmoke;
}

.toc {
    margin-top: 1rem;
    margin-bottom: calc(2 * var(--margin-v-padding) + var(--margin-height));
    margin-left: 2em;
    margin-right: 2em;
}

#toc-container a {
    text-decoration: none;
    font-size: 0.92rem;
}

#toc-container ul {
    padding-left: 0;
    list-style-type: none;
}

#toc-container li {
    margin-bottom: 0.2em;
}

#toc-container li > ul {
    padding-left: 1em;
}

#toc-container ul > li > ul > li:first-child {
    list-style: circle;
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(32, 33, 36);
        color: whitesmoke;
    }

    a {
        color: rgb(87, 171, 255);
    }

    header {
        background-color: rgb(0, 73, 75);
    }

    table, th, td {
        border: 1px solid whitesmoke;
    }

    #toc-container {
        background-color: #282828;
    }

    #header-logo a {
        color: whitesmoke;
    }

    .text-warning {
        color: red;
    }

    .text-unsure {
        background-color: rgb(134, 130, 77);
    }

    .table-highlight-1 {
        background-color: rgb(0, 99, 99);
    }

    .small-img {
        border-color: white;
    }
}


@media (max-width: 700px) {
    :target {
        scroll-margin-top: var(--header-height);
    }
    
    #main-container {
        flex-direction: column;
        margin-top:  var(--header-height);
    }

    #toc-container {
        max-height: calc(100% - var(--header-height));
        height: fit-content;
        z-index: 1;
        width: fit-content;
        position: fixed;
        top: var(--header-height);
        right: 0;
        background-color: rgba(40, 40, 40, 0.95);
    }

    .toc {
        margin-bottom: 0;
    }

    .hide-below-700px {
        display: none;
    }

    .show-below-700px {
        display: unset;
    }

    header {
        width: 100%;
        position: fixed;
        top: 0;
        box-sizing: border-box;
    }

    #text-container {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    body {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    th, td {
        padding: 0.05em 0.1em;
    }

    table {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 450px) {
    #logo-text {
        display: none;
    }
}
